<div class="post-box">
  <div class="d-flex">
    <div>
      <a href="#">
        <img src="assets/img/author/a1.png" alt="" />
      </a>
    </div>
    <div class="post-meta">
      <div class="meta-head">
        <a href="mailto:{{ post?.user?.email }}"
          >{{ post?.user.name }} {{ post?.user.surname }}</a
        >
      </div>
    </div>
    <div class="meta-details">
      <ul>
        <li>
          <a href="#">
            <span class="lnr lnr-calendar-full"></span>
            {{ post.time_ago }}
          </a>
        </li>
        <li *ngFor="let category of post.categories">
          <a href="#">
            <span class="lnr lnr-picture"></span>
            {{ category.name }}
          </a>
        </li>
        <li>
          <a href="#">
            <span class="lnr lnr-bubble"></span>
            {{ post.number_of_comments }} Comments
          </a>
        </li>
        <li>
          <a href="#">
            <span class="lnr lnr-bubble"></span>
            {{ post.number_of_likes }} Likes
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
