<nav id="nav-menu-container">
  <ul class="nav-menu">
    <li class="menu-active"><a routerLink="/">Home</a></li>
    <li><a routerLink="/blog">Blog</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/auth/register" *ngIf="!user">Register</a></li>
    <li><a routerLink="/auth/login" *ngIf="!user">Login</a></li>
    <li><a href="#" (click)="logout($event)" *ngIf="user">Logout</a></li>
    <li><a routerLink="/dashboard" *ngIf="user">Dashboard</a></li>
  </ul>
</nav>
